/app/node_modules
/app/auth-service/node_modules
/app/item-service/node_modules
/app/order-service/node_modules
/app/payment-service/node_modules
/app/notification-service/node_modules
/app/report-service/node_modules